button {
  padding: 0.2em;
  border-radius: 0.2em;
}

.main {
  margin: 0.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  
  &_title {
    margin-bottom: 0em;
    font-family: 'Nunito', sans-serif;
  }

  &_cart {
    margin-left: 0.2em;
    display: flex;
    align-items: center;

    &_icon {
      transform: rotate(348deg);
    }

    &_counter {
      height: 1em;
      width: 1em;
      font-size: 0.7em;
      color: white;
      background-color: blue;
      border-radius: 1em;
    }
  }
}

.products {
  margin: 5px auto;
  height: max-content;
  width: max-content;
  display: inline;
  
  &_inactive {
    display: none;
  }
}

.card {
  padding: 0.4em;
  height: fit-content;
  width: fit-content;
  display: none;
  justify-content: space-between;

  &_photo {
    margin-bottom: 0.5em;
    width: inherit;
    height: inherit;
    display: block;
  }

  &_counter {
    height: 1em;
    width: 1em;
    border-radius: 0.3em;
    background-color: black;
    color: red;
    margin-top: 0em;
    margin-right: 0em;
  }

  &_alert {
    width: inherit;
    height: inherit;
    line-height: 3em;
  }
}

.cart {
  display: none;

  &_active {
    display: inline;
  }
}

.footer {
  padding: 1em;
}