.main {
  margin: 0.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header {
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  
  &_title {
    margin-bottom: 0em;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
  }
  
  &_cart {
    margin-left: 0.2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &_icon {
      transform: rotate(348deg);
    }
    
    &_counter {
      height: min-content;
      width: 1.3em;
      font-size: 0.7em;
      font-weight: bolder;
      color: white;
      background-color: blue;
      border-radius: 1em;
    }
  }
}

.products {
  margin: 3em auto;
  height: fit-content;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  &_inactive {
    display: none;
  }
}

.card {
  padding: 0.4em;
  height: fit-content;
  width: fit-content;
  display: none;
  justify-content: space-between;
  
  &_container {
    position: relative;
  }
  
  &_alert {
    margin: auto;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 2em;
    font-weight: bold;
  }
  
  &_photo {
    margin: auto auto 0.5em auto;
    width: inherit;
    height: inherit;
    display: block;
  }
}

.desiredQuantity {
  width: 10em;
}

.btnAddCart {
  padding: 0.2em;
  border-radius: 0.2em;
}

.cart {
  display: none;

  &_active {
    margin: 2em;
    display: inline;
  }
}

.item {
  display: grid;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "name quantity unit_price total_price";
  grid-auto-rows: minmax(3em, auto);
  gap: 1em;
  text-align: inherit;

  &_name {
    grid-area: name;
    align-self: flex-end;

  }

  &_quantity {
    grid-area: quantity;
    align-self: flex-end;
  }

  &_unitPrice {
    grid-area: unit_price;
    align-self: flex-end;
  }

  &_totalPrice {
    grid-area: total_price;
    align-self: flex-end;
  }
}


.footer {
  padding: 1em;
}