.main {
  margin: 0.3em 0.7em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &_title {
    display: inline-block;
  }

  &_cart {
    height: 3em;
    width: 3em;
    align-self: flex-end;
  }
}

.products {
  margin: 5px auto;
  height: max-content;
  width: max-content;
  display: inline;
  
  &_inactive {
    display: none;
  }
}

.card {
  padding: 0.4em;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;

  &_photo {
    margin-bottom: 0.5em;
    display: block;
  }
}

.cart {
  display: none;

  &_active {
    display: inline;
  }
}